/deep/ .mat-list .mat-list-item{
    height:auto;
    margin: 4px 8px;
    font-size:13px;
    color: rgb(92, 92, 92);
    padding:0;
}
.img-notification{
    max-height:42px;
    max-width: 42px;
}
.img-user{
    width: 30px;
    height: 30px;
}
small{
    font-size:11px !important;

}
.mat-list-item{
    border-radius: 4px;
}