
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
.user-info-container{
    margin-top:25px;
}
.user-stats{
    width: 100%;
}
.user-stats div{
    margin-right: 12px;
}
.followButton, .unFollowButton{
    font-weight: 600;
}
.mat-subreading-2{
    margin-bottom:1px;
    margin-top:2px;
}
.user-status{
    width:300px;
}
.rep-icon{
    width:32px;
    height: 32px;
    font-size: 32px;
}