:host {
    display: flex;
    justify-content: center;
    margin: 12px auto;    
    max-width: 500px;
    
    width:100%;
  }
  .mat-form-field {
    width: 100%;
    min-width: 200px;
  }
  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }
  .error {
    padding: 9px 4px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .saveButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-end;
  }
  .interest-line{
      max-width: 100%;
      width:56px !important;
      text-overflow: ellipsis;
      background: rgba(0, 0, 0, 0.4);
      border-radius:4px;
  }
  .intbutton{
      max-width:56px;
  }
  
  mat-chip img{
  width:20px;
  height: 20px;
  line-height:24px; 
  margin-right: 6px;
  border: 1px solid;
}
mat-chip a{
  height: 20px;
}
mat-chip{
  cursor: pointer;
  padding-left: 1px !important;
  padding-top: 1px !important;
  padding-bottom: 2px !important;
  padding-right: 9px !important;
}