<app-layout [ngClass]="{'night-theme': isDarkTheme$ | async}"> 
  <div id="top-of-page"></div>
  <app-progress-bar [progressBarMode]="progressBarMode$ | async"></app-progress-bar>
    <!--<app-sidenav [open]="showSidenav$ | async">
      <button mat-list-item mat-icon-button (click)="closeSidenav()">
          <mat-icon mat-list-icon>menu</mat-icon>
          <span mat-line>feasion</span>
        </button>
      <app-nav-item (navigate)="closeSidenav()"
        routerLink="/" icon="home">
        Home
      </app-nav-item>
      <app-nav-item (navigate)="closeSidenav()"
        routerLink="/trending" icon="whatshot">
        Trending
      </app-nav-item>      
      <app-nav-item (navigate)="login()" icon="exit_to_app" *ngIf="!(loggedIn$ | async)">
        Sign In
      </app-nav-item>
      <app-nav-item (navigate)="logout()" icon="power_settings_new" *ngIf="loggedIn$ | async">
        Sign Out
      </app-nav-item>
    </app-sidenav>-->
    <app-navbar [textColor]="navbarTextColor$ | async" [color]="navbarColor$ | async" (openMenu)="openSidenav()">
      <mat-toolbar-row fxFlex="20"  [@panelLeftRight]>
        <a class="a-grey" [routerLink]="['/']"> 
          <img class="logoel" src="/assets/feasionLogo.png" alt="feasion">
      </a>
      </mat-toolbar-row>
      <mat-toolbar-row  
        fxFlex
        fxHide fxShow.gt-sm 
        [@panelInOut] *ngIf="(showSearchInput$ | async)">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3px">
            <!--<app-search-nav></app-search-nav> -->
        </div>  
      </mat-toolbar-row>
      <mat-toolbar-row fxFlex="20"  fxLayout="row" fxLayoutAlign="end center">
          <!--<div>
            <button
            (click)="toggleSearch($event)"
             mat-icon-button>
                <mat-icon aria-label="Search">search</mat-icon>
            </button>
          </div>-->     
          <a
          mat-button
          color="accent"
           (click)="login()" *ngIf="!(loggedIn$ | async)">
            <span class="">Login</span>
          </a>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="4px" fxShow.lt-md="false">          
            <a
              mat-icon-button
              matTooltip="Add new post"
              matTooltipShowDelay="310"
              routerLinkActive #rla51="routerLinkActive"
              [routerLink]="['newpost']" *ngIf="(loggedIn$ | async)">
            <mat-icon  color="{{rla51.isActive?'primary': 'accent'}}">add_a_photo</mat-icon>
            </a>

            <app-nav-notification ></app-nav-notification>  
            <button
            *ngIf="(loggedIn$ | async)"
              matTooltip="{{loggedUserName$ | async}}"   
              color="{{rla55.isActive ? 'primary': 'accent'}}" 
              mat-icon-button [matMenuTriggerFor]="acc_menu"              
              >
              <img class="img-circle acc_img" [default] [src]="profileImage$|async" />
            </button>
            <mat-menu 
              direction="'rtl'" 
              [xPosition]="'before'"
              [yPosition]="'below'"
              panelClass='acc_panel'
              [overlapTrigger]="false"
              #acc_menu="matMenu">
                <a        
                class="a-grey"     
                  routerLinkActive #rla55="routerLinkActive"
                  matTooltipShowDelay="310"
                  [routerLinkActiveOptions]="{ exact: true }"                
                  [routerLink]="['',loggedUserName$ | async]">
                <button mat-menu-item>
                
                  <img class="img-circle acc_img" [default] [src]="profileImage$|async" />
                  <span>{{loggedUserName$ | async}}</span>
                  
                </button>
              </a>
              
                <a           
                class="a-grey"    
                    matTooltipShowDelay="310"               
                    [routerLink]="['help']">
                    <button mat-menu-item>
                  <mat-icon  color="primary">help</mat-icon>
                  <span>Help</span>
                  </button>
                  </a>
                  <a      
                  class="a-grey"
                  matTooltipShowDelay="310"               
                  (click)="toggleTheme($event)">
                    <button mat-menu-item>
                    
                      <mat-icon  color="primary">brightness_3</mat-icon>
                      <span>Night Mode</span>
                      </button>
                  </a>              
            </mat-menu>
            
        </div>             
      </mat-toolbar-row>
    </app-navbar>
    <app-bottom-navbar fxShow.gt-sm="false">
        <mat-toolbar-row>        
            <a         
            [routerLink]="[ '/']"    
            [routerLinkActiveOptions]="{ exact: true }"        
            routerLinkActive #rla="routerLinkActive">
            <mat-icon color="{{ rla.isActive ? 'primary': 'accent'}}">home</mat-icon>
          </a>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <a         
            routerLinkActive #rla2="routerLinkActive"
            [routerLink]="[ '/newpost']">
            <mat-icon color="{{ rla2.isActive ? 'primary': 'accent'}}">add_a_photo</mat-icon>
          </a>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <a         
            routerLinkActive #rla3="routerLinkActive"
            [routerLink]="[ '/search']">
            <mat-icon color="{{ rla3.isActive ? 'primary': 'accent'}}">search</mat-icon>
          </a>          
        </mat-toolbar-row>        
        <mat-toolbar-row 
        *ngIf="loggedIn$ | async">
            
            <a    
            routerLinkActive #rla4="routerLinkActive"
            [routerLink]="[ '/notifications']">
            <mat-icon     
            color="{{ rla4.isActive ? 'primary': 'accent'}}">notifications_active</mat-icon>
          </a>
        </mat-toolbar-row>
        <mat-toolbar-row *ngIf="loggedIn$ | async">
            <a    
            [routerLinkActiveOptions]="{ exact: true }"  
            routerLinkActive #rla4="routerLinkActive"
            [routerLink]="[ '',  (loggedUserName$ | async) ]">
            <mat-icon     
            color="{{ rla4.isActive ? 'primary': 'accent'}}">account_circle</mat-icon>
          </a>
        </mat-toolbar-row>
        <mat-toolbar-row *ngIf="!(loggedIn$ | async)">
            <a    
            [routerLinkActiveOptions]="{ exact: true }"  
            routerLinkActive #rla4="routerLinkActive"
            [routerLink]="[ '/login' ]">
            <mat-icon 
            color="{{ rla4.isActive ? 'primary': 'accent'}}">person_add</mat-icon>
          </a>
        </mat-toolbar-row>
    </app-bottom-navbar>
    <router-outlet ></router-outlet>    
</app-layout>