mat-toolbar-row{
    padding:0px;
}
app-bottom-navbar a{
    margin:0px auto;
}
.acc_img{
    width:28px;
    height: 28px;
    margin-right: 10px;
    vertical-align: middle;
}
.logoel{
    max-height: 50px;
} 