
<mat-card>
    <mat-card-header>
        <mat-card-title>{{authUsername}}</mat-card-title> 
        <mat-card-subtitle> </mat-card-subtitle>                                   
    </mat-card-header>  
  <form [formGroup]="form" novalidate>    
    <div fxLayout="row"  fxLayoutAlign="start stretch" fxLayoutGap="12px">    
      <img class="p-img img-circle" [default] [src]="authUserProfileImage"/>            
        <mat-form-field fxFlex color="accent">
          <textarea cols="1"  matInput placeholder="Edit comment" 
            [formControl]="contentCtrl">
          </textarea>
            <div class="error" *ngIf="contentCtrl.invalid  && (contentCtrl.dirty || contentCtrl.touched)">                        
              <div *ngIf="contentCtrl.errors.required">
                  Comment cannot be empty.
              </div>
              <div *ngIf="contentCtrl.errors.maxLenght">
                  Your comment must be maximum 1024 characters long.
              </div>
            </div>
        </mat-form-field>            
    </div>    
    <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="3px">     
        <button type="button"  class="saveButton"  
        (click)="closeCommentEditForm.emit()" mat-raised-button>Cancel</button>     
        <button type="button"  color="warn" [disabled]="commentFormPending" class="saveButton"  
        (click)="submit($event)" mat-raised-button>Save</button>
    </div>
  </form>
  </mat-card>