mat-card{
    padding-top:8px;
    padding-bottom: 4px;
}
img{
    margin-top:15px;
}
.mat-card-header{
    margin-left: -20px;
}
.comment-content{
    margin-left: -10px;
}
h3{
    font-weight: 400;
}
.c-f-c{
    margin-bottom: 10px;
}
app-feed-review-edit-comment{
    width:100%;
}