<mat-card class="card">
    <mat-card-header>
      <a mat-card-avatar [routerLink]="['/user',review.authorInfo.username]">
        <img mat-card-avatar [default] [src]="review.authorInfo.profileImage" class="img-circle"/>
      </a>
      <mat-card-title><a class="no-anchor-text a-grey" 
        [routerLink]="['/user',review.authorInfo.username]">{{review.authorInfo.username}}</a>  <span class="a-desc secondary-text"><ng-content select="[activityDescription]"></ng-content></span></mat-card-title>
      <mat-card-subtitle>
        {{review.dateUtcPublished | utcdate | date:'d MMM yy - hh:mm'}} 
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="4px">
          <div fxFlex="10">
              <mat-slider 
              thumbLabel="true"
              color="warn"
              vertical min="1" max="10" step="0.5" disabled="true"
              [value]="review.postRate"></mat-slider>
          </div>
        <div fxFlex>
            <article [innerHtml]="review.content | newline"></article>
        </div>        
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div fxLayout="row" fxLayoutAlign="space-between start">
      <div  fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px">
        <span class="feasion-dark-theme" matTooltip="Like" matTooltipShowDelay ="400" matTooltipHideDelay="200" matTooltipPosition="above">
          <button
          (click)="review.likeStatus == 0 ? onunlikeReview.emit(review.id) : onlikeReview.emit(review.id)"
          color="{{review.likeStatus == 0 ? 'warn' : 'accent'}}"  mat-icon-button>
              <mat-icon aria-label="Like">thumb_up</mat-icon>
          </button>
          <span class="secondary-text">{{review.likeCount}}</span>
        </span>
        <span class="feasion-dark-theme" matTooltip="Dislike" matTooltipPosition="above"  matTooltipShowDelay="400" matTooltipHideDelay="200">
          <button
          (click)="review.likeStatus == 1 ? onundislikeReview.emit(review.id) : ondislikeReview.emit(review.id)"
            color="{{review.likeStatus == 1 ? 'warn' : 'accent'}}" mat-icon-button>
              <mat-icon aria-label="Dislike">thumb_down</mat-icon>
          </button>
          <span class="secondary-text">{{review.dislikeCount}}</span>
        </span>
        <span
        (click)="addCommentClicked.emit(review.id)"
          matTooltip="Add a comment"
           class="feasion-dark-theme" matTooltipPosition="above" 
            matTooltipShowDelay="200" matTooltipHideDelay="200">
            <a 
            [routerLink]="['/post',review.postId,'review',review.id]"
            color="accent" mat-icon-button>
                <mat-icon aria-label="Comments">comment</mat-icon>
            </a>
            <span class="secondary-text">{{review.commentCount}}</span>            
           
        </span>
      </div>
      <div class="feasion-dark-theme">
          <button
            color="accent"  [matMenuTriggerFor]="reportMenu"
            matTooltip="Report this review" 
            matTooltipShowDelay ="300" matTooltipHideDelay="200"
            matTooltipPosition="above"
            mat-icon-button>
            <mat-icon aria-label="Rating">feedback</mat-icon>
        </button>
          <mat-menu #reportMenu="matMenu">
                      
              <button
              (click)="onReportReview.emit({reviewId: review.id, reportType: 3})"  
               mat-menu-item>
                  <mat-icon> report_problem</mat-icon>
                  <span>Violating Rules </span>
              </button>
              <button
              (click)="onReportReview.emit({reviewId: review.id, reportType: 4})"  
               mat-menu-item>
                  <mat-icon> sentiment_dissatisfied </mat-icon>
                  <span>Other </span>
              </button>
            </mat-menu>
      </div>
    </div>
    </mat-card-actions>
    <mat-card-content>
      <ng-content select="[comments]">        
      </ng-content>
    </mat-card-content>
  </mat-card>

