.review-content{
    word-wrap: break-word;
    max-width: 100%;
}
.infinite-scrl-container{
    height: 50rem;
    overflow: scroll;
    overflow-x: hidden;
}
.more-button{
    margin-top:10px;
    width:100%;
    margin:0 auto;
}